@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Patrick+Hand+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  height: 500px;
}

:root {
  --light-blue: #86dfdf;
  --dark-blue: #1a7575;
  --less-dark-blue: #7fa3a3;
  --dark-blue-low-opacity: rgba(26, 117, 117, 0.8);
  --slight-white: #fdffff;
  --less-white: #f0fafa;

  --button-outer-color: #f0a6a5;
  --button-fill-color: #fbcdcc;

  --dark-pink-palette: #f0a6a5;
  --light-pink-palette: #fbcdcc;
  --dark-blue-palette: #5cb9de;
  --light-blue-palette: #9ad8f2;
  --dark-green-palette: #3b6b39;
  --light-green-palette: #5bbc57;
  --dark-orange-palette: #fba400;
  --light-orange-palette: #ffc978;
}

body {
  font-family: 'Inter', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  width: 350px;
  height: 500px;
  background: var(--light-blue);
}

#title {
  position: fixed;
  top: 1px;
  left: 15px;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 48px;
  color: var(--dark-blue);
  user-select: none;
}

.nav-icons:hover {
  transform: scale(1.05);
}

header {
  height: 60px;
  border-bottom: solid 2px var(--dark-blue-low-opacity);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header li {
  height: 40px;
  list-style: none;
  display: inline-block;
}

.control-button-links {
  width: 100px;
  height: 100px;
}

.control-buttons {
  width: 50px;
  height: 50px;
  transition: all 0.2s ease-in-out;
}

.control-buttons:hover {
  width: 55px;
}

.control-button-outer {
  color: var(--button-outer-color);
  fill: var(--button-fill-color);
}

.control-button-inner {
  color: var(--less-white);
}

#play-button {
  position: fixed;
  left: 30px;
  top: 105px;
  animation: 4.5s ease-in-out infinite float-buttons;
}

#pause-button {
  position: fixed;
  left: 30px;
  top: 105px;
  animation: 4s 0.5s ease-in-out infinite float-buttons;
}

#stop-button {
  position: fixed;
  top: 105px;
  right: 30px;
  animation: 3.5s 0.3s ease-in-out infinite float-buttons;
}

header img {
  height: 40px;
}

#main {
  width: 350px;
  height: 300px;
  margin-top: 30px;
  display: grid;
  place-items: center;
}

#controls {
  z-index: 2;
}

#timer {
  background-image: url(/Images/bubble-pink.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 200px;
  font-size: 36px;
  display: grid;
  place-items: center;
  animation: 5s ease-in-out infinite float;
  color: var(--slight-white);
  user-select: none;
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes float-buttons {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes float-away {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-500px);
  }
}

@keyframes float-in {
  from {
    transform: translateY(400px);
  }
  to {
    transform: translateY(0);
  }
}

#bubble {
}

#timer-settings-container {
  display: flex;
  justify-content: space-evenly;
}

.timer-settings {
  font-size: 18px;
  color: var(--dark-blue);
  width: 140px;
  height: 80px;
  border-radius: 25px;
  border: 2px solid var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.timer-settings-input {
  font-style: normal;
  font-size: 24px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  color: var(--less-white);
  width: 86px;
  height: 34px;
  outline: none;
  border: 2px solid transparent;
  border-radius: 4px;
}

.timer-settings-input::placeholder {
  color: var(--less-white);
}
.timer-settings-input:hover,
.timer-settings-input:focus {
  border: 2px dashed var(--dark-blue);
}

.active {
  display: block;
}

.inactive {
  display: none;
}

#time-error {
  margin-top: 2px;
  color: var(--dark-blue);
  display: none;
  text-align: center;
}

/* settings page */

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c3e9e9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--dark-blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--dark-blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#restore-default {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c3e9e9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  border: none;
}

#restore-default:hover {
  transform: scale(1.05);
}

#restore-default:active {
  background-color: var(--dark-blue);
}

#settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  gap: 25px;
}

.setting-subsection {
  display: flex;
  justify-content: space-between;
  width: 275px;
  font-size: 14px;
  color: var(--less-dark-blue);
  background-color: var(--less-white);
  padding: 10px;
  border-radius: 20px;
}

.setting-subsection-title {
  font-size: 18px;
  color: var(--dark-blue);
}

/* palette page */

#palette-container {
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.palette-option {
  width: 70px;
  animation: 4s 0.5s ease-in-out infinite float-buttons;
  padding: 10px;
}

.palette-option:hover {
  transform: scale(1.05);
}

.palette-selected {
  border: 2px dashed var(--dark-blue);
  border-radius: 50%;
}
